.form_warp {
  width: 100%;
  min-height: 100vh;
  background-color: #57606f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .form_box {
    width: 300px;
    h1 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
      color: #fff;
    }
    .logn_btn{
      text-align: center;
    }
    .reg_btn{
      color: #fff;
      float: right;
      cursor: pointer;
    }
  }
}
